

.kroppen {
	
	background: url("bakgrund.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}
.container{
	height: auto;
	color: #000;
}
.min-col {
	background: linear-gradient(45deg, white, transparent);
	color: #000;
}