.main-container {
  margin-top: 1px;
}
#mysettings {
  background: #fff;
  text-align: center;
  font-size: 25px;
  color: #fff;
}  
  .namnam {
  color: #fff;
  background: #133C55;
}
.mid-col {
  border-left: 2px solid #F5F5F5;
  border-right: 2px solid #F5F5F5;
}

.profile-card-1 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  color: #fff;
  text-align: center;
  height:368px;
  border:none;
}
.profile-card-1 .background {
  width:100%;
  vertical-align: top;
  opacity: 0.9;
  -webkit-filter: blur(5px);
  filter: blur(2px);
   -webkit-transform: scale(1.8);
  transform: scale(2.2);
  min-height: 210px;
}
.profile-card-1 .card-content {
  width: 100%;
  padding: 15px 25px;
  position: absolute;
  left: 0;
  top: 50%;
}
.profile-card-1 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.profile-card-1 h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size:25px;
}
.profile-card-1 h2 small {
  display: block;
  font-size: 15px;
  margin-top:10px;
}
.profile-card-1 i {
  display: inline-block;
    font-size: 16px;
    color: #fff;
    text-align: center;
    border: 1px solid #133C55;
    background-color: #133C55;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-1 .icon-block{
    float:left;
    width:100%;
    margin-top:15px;
}
.profile-card-1 .icon-block a{
    text-decoration:none;
}
.profile-card-1 i:hover {
  background-color:#133C55;
  color:#FF6700;
  text-decoration:none;
}
.btn {
  color: #FF6700;
  background-color: #000;
}

.feed {
  border: 1px solid red;
}

.items {
    border-radius: 18px
}

.tags {
    font-size: 13px;
    line-height: 20px;
    cursor: pointer
}

.about {
    font-size: 14px;
}

.posted {
  font-size: 10px;
}

.text-info {
  color: #FF6700!important;
}

.bg-primary {
    background-color: #133C55!important;
}

.liked {
  color: #FF6700;
}

.btn {
    color: #FF6700;
    background-color: #133C55;
}
.btn-primary {
    color: #FFFFFF;
    background-color: #133C55;
    border-color: #133C55;
}

.btn-primary:hover {
    color: #FF6700;
    background-color: #133C55;
    border-color: #133C55; /*set the color you want here*/
}

.blur {
  filter: blur(4px);
}

.card {
  border: none;
}

.card-header {
  border-radius: 34px;
}

.card-header+.list-group .list-group-item:first-child {
    border-top: 3px;
    border-bottom: 3px;
    border: solid;
}

.list-group-flush .list-group-item {
    border: solid 3px;
    border-radius: 18px;
}

.list-group .layer1 {
    border: 3px solid #133C55;
    background: rgba(19, 60, 85, 0.1); 
}

.list-group .layer2 {
    border: 3px solid #2A81B7;
    background: rgba(42, 129, 183, 0.1);
}

.list-group .layer3 {
    border: 3px solid #7AB9E1;
    background: rgba(122, 185, 225, 0.1);
}

.card>.list-group:last-child .list-group-item:last-child {
     border-bottom-right-radius: 18px;
     border-bottom-left-radius: 18px;
}

.list-group-flush:last-child .list-group-item:last-child {
    margin-bottom: 0px;
    border-bottom: 3px;
    border: solid;
    border-radius: 18px;
}

.globe {
    float:right;
    margin-top: 18px;
}

.online {
  color: #16a119;
}

.offline {
  color: #b52222;
}