
.bodybody{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, Sans-serif;
	background: url("bakgrund.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.signup {
	width: 300px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
	background: #fff;
	padding: 30px;
	margin: 5% auto 0;
	text-align: center;
	position: relative;
}
.signup h2 {
	font-size: 35px;
	color: orange;
	margin-bottom: 30px;
}
.signup h3 {
	font-size: 25px;
	color: #1c8adb;
	margin-bottom: 30px;
}

.input-box {
	border-radius: 20px;
	padding: 10px;
	margin: 10px 0;
	width: 100%;
	border: 1px solid #999;
	outline: none;
}
button {
	color: #fff;
	width: 100%;
	padding: 10px;
	border-radius: 20px;
	font-size: 15px;
	margin: 10px 0;
	border: none;
	outline: none;
	cursor: pointer;
}
.signupbutton {
	background-color: #1c8adb;
}
.loginbutton {
	background-color: green;
}

